<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <script type="text/javascript">

        $(function(){

            var number=0;
             $.ajax({
                     url:'/queryChuangguan',
                     type:'post',
                     success:function (data) {


                        var conent="";
                         conent+=" <img src='/images/4.jpg' height='100' width='400'>";
                         conent+="<br><br>闯关排行榜";
                         conent+="<ul> ";

                         $.each(data,function (index,obj) {

                             conent+="<li style='width:50%;float:left'>NO"+(number+1)+".我是"+obj.userName+"&nbsp;&nbsp;&nbsp;&nbsp;共闯关"+obj.userCount+"次</li>  ";
                             number++;
                             /*console.log(number);*/

                         })

                         $.each(data,function (index,obj) {
                             conent += "<div class='col-md-6'><div style='width: 230px;height: 355px;background-color: #9acfea;margin-top: 24px;margin-left:10px;border-radius: 10px;'>";
                             conent += "<img style='margin-left: 14px;border-radius: 10px;margin-top: 11px;' src='"+obj.img+"' height='200px' width=200px/>";
                             conent +="<font size='5' color='#6495ed'>"+obj.title+"</font><br>";
                             conent+="</div>";
                         })
                         conent += "</ul>";
                         conent += "</div>";



                         $("#div1").html(conent);

                     },error:function () {
                         alert("ajax访问失败,请查看控制台");
                     }

                     })



        })





    </script>


</head>

<body>
<div style="width:550px;height:80px">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:history.go(-1)">返回</a>
            </div>
            <div>
                <p class="navbar-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5px">冲浪闯关</font></p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">...</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="div1" style="width: 550px;height: 800px;margin-left: 30px;">

</div>






</body>
</html>
