<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
</head>
<script type="text/javascript">
    var ii = 0;
    $(function () {
        queryWen();
    })
    function queryWen() {
        var titleVal=$("#titleVal").val();
            /*ajax   start*/
                    $.ajax({
                       url:"/wenz/queryWen",
                       type:"POST",
                       data:{title:titleVal},
                       beforeSend:function(){
                              ii = layer.msg('加载中', {
                              icon: 16
                              ,shade: 0.01
                              });
                        },
                       success:function(a){
                            $("#title").html(a.title);
                            $("#name").html(a.name);
                            $("#img1").prop("src",a.img);
                            $("#music").attr("href",a.music);
                            console.log($("#music").attr("src",a.music))
                            $("#content").html(a.content);
                            console.log(a);
                       },
                       error:function(){
                          layer.msg("ajax失败");
                       },complete:function(){
                             layer.close(ii);
                        }
                   });
                 /*ajax   end*/
    }
</script>
<body>
<input type="hidden" id="titleVal"  th:value="${param?.title}">
<div class="row" style="width: 350px;height: 800px;">
    <h3><div id="title" style="margin-top: 5px;margin-left: 25%"></div></h3>
    <h4><div id="name"  style="margin-top: 10px;margin-left: 30px"></div></h4>
    <div  id="img"  style="margin-top: 10px;margin-left: 10px">
        <img width="200px" height="100px" src="" id="img1">
    </div>
    <div  style="margin-top: 5px;margin-left: 4px">
        <audio controls="controls" id="music" src=""></audio>
    </div>
    <div class="panel panel-default" style="margin-left: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">
               介绍:
            </h3>
        </div>
        <div id="content"  style="margin-top: 5px;margin-left: 4px"></div>
    </div>

</div>
</body>
</html>